[submodule "oh-my-zsh"]
    path = oh-my-zsh
    url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "maximum-awesome"]
	path = maximum-awesome
	url = https://github.com/square/maximum-awesome
